  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header 
  .header {
    background-color: #d64545;
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }*/
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 0px;
    /*height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Left and right column */
  .column.side {
    width: 5%;
  }
  
  /* Middle column */
  .column.middle {
    width: 90%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }

  .alert.success {
    background-color: lightgreen;
  }
  
  .alert.error {
    background-color: lightcoral;
  }

  .alert.info {
    background-color: lightblue;
  }

/*when a value is selected, this class removes the content */
.custom-file-input.selected:lang(en)::after {
  content: "" !important;
}

.custom-file {
  overflow: hidden;
}
.custom-file-input {
  white-space: nowrap;
}  